<footer class="global-footer">

    <div class="footer-col">
    <div class="footer-title">
        <a href="/" class="text-white no-decoration no-margin">Flush Finder</a>
    </div>
    <div class="text-gray">
        © 2023
    </div>
    </div>
    
    <div class="footer-col text-white">
        <a href="about" class="footer-heading">About</a>
    </div>

    <div class="footer-col">
    <a class="footer-heading">For Students</a>
    {{#if loggedIn}}
        <a href="select-restroom" class="footer-subheading fade-hover">Write a Review</a>
    {{else}}
        <a href="login" class="footer-subheading fade-hover">Log In</a>
        <a href="register" class="footer-subheading fade-hover">Sign Up</a>
    {{/if}}

    </div>

    <div class="footer-col">
    <a href="" class="footer-heading">Contact Us</a>
    <a href="" class="footer-subheading fade-hover"><i class="fa-regular fa-envelope"></i> help@flushfinder.com</a>
    <a id="social-media-icons" href="" class="footer-subheading">
        <i class="fa-brands fa-facebook fade-hover"></i>
        <i class="fa-brands fa-twitter fade-hover"></i>
        <i class="fa-brands fa-linkedin fade-hover"></i>
    </a>
    </div>

</footer>