<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body class="bg-primary ">
  <div class="text-white flex justify-center items-middle h-80-screen">
    <div class="flex flex-col justify-center">
      <h1 class="text-9xl">404 - OOPS!</h1>
      <h2 class="text-8xl">That page does not exist</h2>
    </div>
  </div>
</body>
</html>