<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body class="bg-primary">
    <div class="text-white flex justify-center items-center h-screen">
        <div class="max-w-3xl p-8 flex flex-col items-center">
            <h1 class="text-4xl font-bold mb-6">About Us</h1>
            <p class="text-xl text-center mb-8">This project was created by Krizchelle Wong, Patrick Leonida, Enrique Lejano, and Mark Abergos. It was created using Javascript, MongoDB, and Handlebars. The specific modules and libraries are listed below.</p>

            <div class="w-full flex justify-between">
                <div class="w-1/2 pr-8">
                    <section class="mb-4 ml-24">
                        <h2 class="text-2xl font-bold mb-2 ">External Libraries</h2>
                        <ul class="list-disc pl-6">
                            <li>bootstrap</li>
                            <li>tailwind</li>
                            <li>mongoose</li>
                            <li>dotenv</li>
                            <li>multer</li>
                            <li>mongoose</li>
                            <li>express</li>
                            <li>body-parser</li>
                            <li>express-session</li>
                            <li>passport</li>
                            <li>express-handlebars</li>
                            <li>handlebars</li>
                        </ul>
                    </section>
                </div>
                <div class="w-1/2 pl-8 ml-8">
                    <section>
                        <h2 class="text-2xl font-bold mb-2">NPM Modules</h2>
                        <ul class="list-disc pl-6">
                            <li>dotenv</li>
                            <li>express</li>
                            <li>express-handlebars</li>
                            <li>express-session</li>
                            <li>moment</li>
                            <li>mongodb</li>
                            <li>mongoose</li>
                            <li>multer</li>
                            <li>nodemon</li>
                            <li>passport</li>
                            <li>passport-local-mongoose</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>