<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Write a Review</title>
        <script src="https://css/styles.csscss.com"></script>
        <link rel="stylesheet" href="css/review.css"> 
        <link rel ="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class=" bg-primary content-container">
            <!-- LEFT CONTAINER -->
            <div class="left-container">
                <div class="left-wrapper">      
                    <div class="caption-container text-white">
                        <span class="left-caption">Tell us, how was your flush?</span>
                    </div>
                    <div class="establishment-container">
                        <img src="images\bldg-henry.jpeg" class="img-shadow" alt="">
                        <span class="establishment-name">{{data.name}}</span><br>
                        <span class="establishment-floor">Floor {{data.floor}}</span><br>
                        <span class="establishment-details">Students, {{data.gender}}</span>
                    </div>
                </div>
            </div>
            <hr class="line">
            <!-- RIGHT CONTAINER -->
            <div class="right-container text-white">
                <form  action="/createreview" method="post" enctype="multipart/form-data">
                    <!-- RATING -->
                    <span class="label text-white">Rate your overall experience</span> <br>
                    <div class="ratings">
                        <input type="radio" id="star1" name="rate" value="1">
                        <label for="star1" title="text"><i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl"></i> 
                        </label>
                        <input type="radio" id="star2" name="rate" value="2">
                        <label for="star2" title="text"><i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl"></i> 
                        </label>
                        <input type="radio" id="star3" name="rate" value="3">
                        <label for="star3" title="text"><i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl"></i> 
                        </label>
                        <input type="radio" id="star4" name="rate" value="4">
                        <label for="star4" title="text"><i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl"></i></label>
                        <input checked="" type="radio" id="star5" name="rate" value="5">
                        <label for="star5" title="text"><i class="tissue fa-solid fa-toilet-paper fa-rotate-270 fa-xl"></i></label>
                    </div>
                    
                    <!-- Check Boxes -->
                    <span class="label">Amenities:</span> <br>
                    <input type="checkbox" name="form-chkbx" value="bidet">
                        <label for="Bidet">Bidet</label><br>
                    <input type="checkbox" name="form-chkbx" value="flush">
                        <label for="flush">Flush</label><br>
                    <input type="checkbox" name="form-chkbx" value="tissue">
                        <label for="tissue">Tissue</label><br>
                    <input type="checkbox" name="form-chkbx" value="faucet">
                        <label for="faucet">Faucet</label><br>
                    <input type="checkbox" name="form-chkbx" value="handdryer">
                        <label for="handdryer">Hand Dryer</label><br>
           
                    <span class="label text-white">Date of visit</span> <br>
                    <input class="input-date" type="date" name="form-date" required> <br>
                    
                    <span class="label">Title of your Review</span> <br>
                    <textarea class="text-black" name="form-review-title" id="form-review-title" cols="20" rows="20" placeholder="Awesome cubicle!" required></textarea>
                    <br>
                    <br>                    
                    <span class="label">Write a Review</span> <br>
                    <textarea class="text-black" name="form-review" id="form-review" cols="10" rows="10" placeholder="I experienced the best bidet of my life..." required></textarea>
                    <br>
                    <br>


                    <span class="label text-white">Add some Photos</span> 
                    <span class="label-detail text-white">Keep it clean! Literally.</span>
                    <input type="file" name="photo" class="text-white" accept="image/*">
                    <input type="hidden" name="restroomId" id='restroomId'>
                    <br>
                    <br>
                    <input type="submit" class="submit bg-white" value="Submit Review">
                </form>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/3db8d82098.js" crossorigin="anonymous"></script>
        <script src="//localhost:35729/livereload.js"></script>
        <script src="js/create-review.js"></script>
    </body>
</html>