<!DOCTYPE html>
<html class="home-html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
  <body class="home-body">

          <div class="banner">
            <div class="banner-comp">
              <h1 class="banner-text">WELCOME TO FLUSH FINDER</h1>

            </div>
          </div>
        
      </div>
      
    </div>
    <h2 class="explore-line"><span class="explore">Explore Restrooms by Building</span></h2>
    
    <!--Explore by Building-->
    <div id="carousel-explore-buildings" class="carousel slide">
             <div class="carousel-inner">
              <!-- Split buildings into chunks -->
              {{#each allBldgsChunked}}
                <div class="carousel-item {{#if @first}}active{{/if}}">
                  <!--BUILDINGS-->
                  <div class="restrooms">
                    {{#each this}}
                      {{> building buildingInfo=this}}
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-explore-buildings" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-explore-buildings" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br/>
    <h2 class="explore-line"><span class="explore">Top Rated Buildings of 2023</span></h2>
    <!--Top Rated-->
    <!-- Added some slight padding so there's space between it and the footer -->
    <div id="carousel-explore-top" class="py-3 carousel slide">
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!--BUILDINGS-->
          <div class="restrooms">

            {{#each topRatedBldgs}} 
                {{> building buildingInfo=this}}
            {{/each}}

           
          </div>
        </div>

      </div>
      <!-- Carousel controls -->
      <button class="carousel-control-prev invisible" type="button" data-bs-target="#carousel-explore-top" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next invisible" type="button" data-bs-target="#carousel-explore-top" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <script src="//localhost:35729/livereload.js"></script>
    <script src="https://kit.fontawesome.com/3db8d82098.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
