<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <!-- Get rid of all of these please-->
    <style>@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap';</style>
    <script src="https://kit.fontawesome.com/defd36cc33.js" crossorigin="anonymous"></script>
</head>
<body class="font-primary text-white bg-primary">

    <!-- START OF MAIN CONTENT -->
    <div class="h-full bg-cover bg-center overflow-hidden bg-fixed" style="background-image:url('./images/henry_sy-bg.jpg');">
        <div class="h-screen w-screen backdrop-grayscale overflow-auto">
            <div class="flex flex-col m-auto h-auto bg-black/75 mt-32 w-2/5 rounded-[1.5rem]">
                <div class="w-8/12 self-center h-auto overflow-auto h-content">
                    <div class="text-center mt-5">
                        <h2><i class="fa-solid fa-toilet fa-2xl text-white"></i></h2>
                    </div>
                    <div class="text-center mt-10">
                        <span class="font-bold text-3xl">Login to </span><span class="text-3xl font-medium">Flush Finder</span> 
                    </div>
                    <div class="mt-5 flex flex-col">
                      <!-- Turn this into a post request eventually -->
                        <form action="/userlogin" method="post">
                            <div class="flex flex-col" method="post">
                                <div>
                                    <label for="username">Username</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="text" name="username" id="username" placeholder="Username" required><br>
                                </div>
                                <div class="mt-3 ">
                                    <label for="password">Password</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="password" name="password" id="password" placeholder="***********"><br>
                                </div>
                            </div>
                                {{#if errorMessage}}
                            <div class="mt-1 text-red-600 text-center">
                                {{errorMessage}}
                            </div>
                                {{/if}}
                            <div class="mt-5 text-center">
                                <button class="border-[2px] hover:text-black border-white rounded-md border-w hover:bg-secondary hover:border-secondary py-2 px-5">Login</button>
                            </div>
                            <div class="mt-5 m-auto text-sm flex items-center justify-center">
                                <label for="remember" class="text-gray-400 content-center self-center" >Keep me logged in</label>
                                <input type="checkbox" class="ml-2 mt-1 bg-transparent content-center self-center" name="remember">
                            </div>
                        </form>   
                    </div>
                </div>
                <div class="text-xs text-center mt-4 mb-4 font-thin">
                        Don't have an account yet? <a href="register" class="text-secondary hover:underline">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>