
:root {
    --vt-c-white: #ffffff;
    --vt-c-white-off: #eff4f9;
    --vt-c-white-off-forms: #e6eaef;
    --vt-c-gray: #a6a6a6;
    --vt-c-gray-dark: #808080;

    --vt-c-black: #1e1e1e;

    --vt-c-blue-very-dark: #1339AF;
    --vt-c-blue-dark: #0d41e1;
    --vt-c-blue-med-dark: #0c63e7;
    --vt-c-blue: #0a85ed;
    --vt-c-blue-light: #09a6f3;

    --vt-c-red: #b00020;

    --vt-c-green: #17B169;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white-off);
    /* --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-black); */

    --section-gap: 160px;
}

body {
    overflow: auto;
    background-color: var(--vt-c-white-off);
    min-height: 100vh;
    min-width: 320px;
    color: var(--color-text);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        'Roboto',
        sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Global Classes */

.bg-off-white {
    background-color: var(--vt-c-white-off);
    min-width: 1280px;
}

/** hover-scale-sm gives the subtle hover effect to all the floating components **/
.hover-scale-sm, .hover-scale-md, .hover-scale-xs {
    transition: all 0.3s ease; /* 0.3s duration with ease-in-out timing function for smooth effect */
}

.hover-scale-xs:hover {
    transform: scale(1.005)
}

.hover-scale-sm:hover {
    transform: scale(1.01);
}

.hover-scale-md:hover {
    transform: scale(1.05);
}

.w-30 {
    width: 30%;
}

.capitalize {
    text-transform: capitalize;
}

.text-white {
    color: var(--vt-c-white)
}

#nprogress .bar {
    background: var(--vt-c-blue-light)
}