@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin: 0px;
}
  
.home-html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.home-body {
  background-color: #202020;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), url("../images/dlsu-bg.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.banner-text {
  position: absolute;
  color: white;
  font-size:5vh;
  text-shadow: 1px 1px 2px black;
  font-weight:bold;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility:hide;
}

.banner-button {
  position: absolute;
  border-color:black;
  background-color:#FFD100;
  font-size:2vh;
  padding-top:0.8rem;
  padding-bottom:0.8rem;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-button a {
  color: black;
}

.review-button {
  position:relative;
  border-color:#FFD100;
  color:#FFD100;
  
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  top: 8%;
}

.review-button a {
  color: inherit;
}

.banner-button:hover {
  background-color:#FEFAE0;
}

.review-button:hover {
  background-color:#FEFAE0;
  z-index:9999;
}


.explore-line {
  width: 100%; 
  padding-top:3rem;
  border-bottom: 1px solid #F5CB5C; 
  line-height: 0.1em;
} 

.explore {
  color: #FFFFFF;
  background:#202020;
  padding:0 10px; 
  margin-left:2rem;
  font-size: 1.5rem;
}

.restroom-container {
  display:block;
  height:22.5rem;
  text-align:center;
  margin-left:1rem;
  margin-right:1rem;
}

.restroom-image {
  height: 14rem;
  width: 14rem;
  margin-top: 2rem;
  border-style: solid;
  border-color: #F5CB5C;
  border-width: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding:5px;

  background-color: #1A1A1A;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

 .alt-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
  display:block;
}

.image-container img, .alt-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%); 
}

.image-container:hover {
  display:hidden;
}

.alt-image {
  visibility:hidden;
  opacity:0;
}

.image-description {
  position:absolute;
  color:white;
  text-align:center;
  visibility:hidden;
  
  max-width:190px;
  user-select: none;

}

.image-name {
  position: absolute;
  z-index:9999;
}

.image-name h4 {

  color:white;
  font-size:1.7rem;
  font-weight:800;
  text-shadow: 1px 1px 2px black;
}

.image-name p {
  z-index:9999;
  color:white;
  position:absolute;
  font-size:1.2rem;
  font-weight:800;
  margin-left:5px;
  margin-top:60px;
  text-shadow: 1px 1px 2px black;
  white-space:nowrap;
}


.restroom-image:hover .image-description {
  visibility: visible;
  opacity: 1;
}

.restroom-image:hover .alt-image {
  visibility:visible;
  opacity:1;
}

.restroom-image:hover .image-container img{
  visibility:hidden;
  opacity:0;
}

.restroom-image:hover .image-name{
  visibility:hidden;
  opacity:0;
}

.restrooms {
  display:flex;
  margin-left:80px;
}

.carousel-control-prev {
  margin-left:-5vw;
  margin-top:-2rem;

}

.carousel-control-next {
  margin-right:-5vw;
  margin-top:-2rem;
}



.rating {
  display:flex;
  justify-content:center;
}

.tissue {
  margin-left:5px;
  margin-top:30px;
}

/* RESULTS.HTML */
.search-text {
  margin-top:10px;
  color:white;

}


.results-body {
  background-color: #202020;
  font-family: 'Montserrat', sans-serif;
}

.search-page-body {
  margin-left:3rem;
  margin-right:3rem;
}

.search-bar {
  display:flex;
}

.form-control {
  border-radius:0%;
}

.search-button {

  background-color:none;
  border-color: #FFD100;
  color: #FFD100;
  border-style:solid;

  font-size:1rem;
  padding:0.8rem 2.5rem 0.8rem 2.5rem;
  margin-left:10px;
}

.search-button:hover {
  border-color:black;
  background-color:#FFD100;
}

.btn-dark {
  background-color:#202020;
  border-color: white;
  color: white;
  border-style:solid;

  font-size:1rem;
  padding:0.8rem 1.5rem 0.8rem 1.5rem;
  margin-left:10px;
}

.btn-dark:hover{
  background-color:none;
  color: white;
  border-style:solid;
}

.dropdown-item:hover .btn-drop {
  background-color:none;
  border-color: white;
  color: white;
  border-style:solid;
}

.search-things {
  margin-top:3rem;
  display:flex;
}

.search-line {
  width: 100%; 
  border-bottom: 1px solid #F5CB5C; 
  line-height: 0.1em;
} 

.search-res-line {
  width: 100%; 
  border-bottom: 1px solid #919191; 
  line-height: 0.1em;
} 

.restroom-search {
  display:flex;
  margin-bottom:10px;
}

.search-image {
  width: 11rem;
  height: 11rem;
  margin: 1rem;
  margin-bottom:0rem;
  margin-top: 0.5rem;
  border-style: solid;
  border-color: #F5CB5C;
  border-width: 2px;
  padding:5px;

}

.search-description {
  color:white;
  margin-left:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3px;
}

.search-description h4 {
  font-size:1.8rem;
  font-weight:600;
}

.search-description h3 {
  font-size:1rem;
  font-weight:300;
}

.search-description p {
  font-size:1rem;
}

.see-more {
  color:white;
  font-weight:bold;
}

.search-res {
  color:white;
  text-decoration:none;
}

.search-res:hover {
  color:white;
  text-decoration:none;
}

.review-sample {
  display:flex;
}

.fa-comment {
  margin-top:10px;
}

.search-title {
  display:flex;
}

.search-title h3{
  margin-top:0.8rem;
  margin-left:10px;
}


.rating-search {
  display:flex;
  margin-left:13px;
  width:115px;
}

.rating-rev-container {
  display:flex;
  gap: 3px;
}

.with-rating {
  color: #f5cb5c;
}

.no-rating {
  color: #595959;
}

.search-amenities {
  display:flex;
  gap:5px;
}

.badge {
  background-color: #929493;
  color: #383838;
}

.dropdown-item {
  z-index:9999;
}


/* Start of CSS for Navbar */

.global-header {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  background-color: #202020;
}

.header-title {
  letter-spacing: 0.5rem;
  margin: 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  width: 50%;
}

.header-profile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white; 
  color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.header-profile-btn:hover {
  opacity: 80%;
  background-color: white;
  color: black;
}

.no-decoration {
  text-decoration: none;
}

.text-gray {
  color: #9E9E9E;
}

.header-search-box {
  display: flex;
  align-items: center;
  flex-grow: 2;
  border: solid 1px #757575;
  border-radius: 10px;
  max-width: 300px;
  padding: 8px;
  gap: 10px;
}

#search-box-text {
  width: 100%;
}

#search-box-text:hover {
  opacity: 0.5;
}

.pointer-hover {
  cursor: pointer;
}

.fa-magnifying-glass:hover, .fa-microphone:hover {
  opacity: 0.5;
}


.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: auto;
}

.write-review-btn, .footer-heading {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.write-review-btn:hover, .footer-heading:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}

.login-btn, .signup-btn {
  color: white;
  font-weight: 500;
  padding: 8px 15px;
  border: 2px solid white;
  border-radius: 7px;

  /* For a nicer hover effect */
  box-shadow: inset 0 0 0 0 white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.login-btn:hover, .signup-btn:hover {
  color: black;
  box-shadow: inset 200px 0 0 0 white;
}

/* End of CSS for Navbar */

/* Start of CSS for Footer */

.global-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 5rem;
  background-color: #292929;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  flex-wrap: wrap;
}

.no-margin {
  margin: 0px;
}

.footer-heading {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}

.footer-heading:hover {
  opacity: 0.9;
}

.footer-subheading {
  text-decoration: none;
  color: #797979;
  font-size: 0.9rem;
}

.fade-hover:hover {
  opacity: 0.5;
}

#social-media-icons {
  font-size: 1.5rem;
}
/* End of CSS for Footer */


/* Beginning of CSS for business-profile.html */

.title-in-line {
  text-align: left;
}

.title-in-line::before, .title-in-line::after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 60%;
}

.title-in-line::before {
  right: 0.5em;
  margin-left: -50%;
}

.title-in-line::after {
  left: 0.5em;
  margin-right: -50%;
}

.my-establishment-img-box {
  background-image: url("../images/henry_sy-bg.jpg");
}

/* End of CSS for business-profile.html */


/* CLASSES FOR ALL BUILDING IMAGE BACKGROUNDS */

.henry-bg {
  background-image: url("/images/bldg-henry.jpeg");
}

.andrew-bg {
  background-image: url("/images/bldg-andrew.jpg");
}

.gokongwei-bg {
  background-image: url("/images/bldg-goks.jpeg");
}

.miguel-bg {
  background-image: url("/images/bldg-miguel.jpg");
}

.velasco-bg {
  background-image: url("/images/bldg-velasco.jpeg");
}

.razon-bg {
  background-image: url("/images/bldg-razon.jpeg");
}

.st-lasalle-bg {
  background-image: url("/images/bldg-stlasalle.jpeg")
}


.resform {
  display: flex;
}

.searchbar {
  width:520px;
}
/* add more building classes as necessary */